<%- include('.\\' + '../_layouts/usersheader'); %>
<h3 class="page-title">Edit Page</h3>
<a href="/users/users_pages" class="btn btn-primary">All Pages</a>
<br><br>
	<form action="/users/update_page"  method="POST">

		<div class="form-group">
			<label for="">Page</label>
            <input type="text" name="page" placeholder="Enter pages" value="<%=page%>">
            <input type="hidden" name="id" placeholder="Enter pages" value="<%=id%>">
		</div>


		<input type="submit" value="Update"class="btn btn-dark">
	</form>


	

	<%- include('.\\' + '../_layouts/usersfooter'); %>