<%- include('.\\' + '../_layouts/usersheader'); %>
<h3 class="page-title">Create  Post</h3>
	
	<form action="/users/upload_post" enctype="multipart/form-data" method="POST">




		<div class="form-group">
			<label for="">what's on your mind</label>
			<textarea name="detail" class="form-control" cols="10" rows="05"
				placeholder="Details"><%= detail %></textarea>
		</div>

		<div class="form-group">
			<label for="">what's kind of page for post</label>
			
		</div>


		<div class="form-group">
			<label for="">Select Images please</label>
			<input type="file" class="form-control" name="image" id="img" multiple>
			<img src="#" id="imagePreview" alt="">
		</div>






		<input type="submit" value="Post"class="btn btn-dark">
	</form>


	<script>


		function readURL(input) {

			for (var i = 0; i < input.files.length; i++) {
				if (input.files && input.files[i]) {
					var reader = new FileReader();
					reader.onload = function (e) {
						$("#imagePreview").attr('src', e.target.result).width(100).height(100);
					}
					reader.readAsDataURL(input.files[i]);
				}
			}
		}

		$("#img").change(function () {
			readURL(this);
		});
	</script>

	<%- include('.\\' + '../_layouts/usersfooter'); %>